/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  margin: 2% 10%;
  max-width: 100%;
  height: auto;
}
header ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  width: 34%;
  overflow: hidden;
  background-color: turquoise;
  border-radius: 10px;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container-img {
  background-color: orange;
  width: 100%;
  height: 250px;
  margin-top: 2%;
  margin-bottom: 5%;
}
.container-img .back-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.container-img1 {
  background-color: turquoise;
  width: 80%;
  height: 235px;
  margin-left: 9%;
  border-radius: 10px;
}
.container-img1 .introimg {
  width: 60%;
  border-radius: 10px;
}
.container-img1 .skillsimg {
  width: 62%;
  border-radius: 10px;
  position: relative;
  left: 38%;
}
.container-img1 .workhimg {
  width: 62%;
  border-radius: 10px;
}
.info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  line-height: 21px;
}
.info-container .introtext {
  text-align: right;
  width: 88.5%;
  padding-left: %;
  position: relative;
  bottom: 215px;
  right: 20px;
}
.info-container .introtext h1 {
  font-size: 20px;
}
.info-container .introtext h3 {
  font-size: 13px;
}
.info-container .introtext p {
  padding-left: 70%;
}
.info-container .skills-cont {
  width: 88.5%;
  position: relative;
  left: 12%;
  bottom: 220px;
  padding-bottom: 18%;
}
.info-container .intro {
  text-align: right;
  width: 88.5%;
  padding-left: 60%;
  position: relative;
  bottom: 215px;
  right: 20px;
}
.info-container .intro h1 {
  font-size: 20px;
}
.info-container .intro h3 {
  font-size: 13px;
}
